/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Style pour la liste des restaurants */
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

/* Style pour chaque élément de la liste (restaurant) */
.restaurant-item {
  width: calc(33.33% - 20px); /* 33.33% de largeur avec 20px d'espace entre les éléments */
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 10px;
}

/* Assurez-vous d'ajuster la largeur, les marges et les couleurs selon vos besoins */
